.input
  display: block
  width: 270px
  height: 50px
  padding: 15px
  border: none
  border-radius: 5px
  background-color: $light-blue-2
  outline: 0
  line-height: 20px
  font:
    family: 'Rubik', Helvetica, sans-serif
    size: 15px
    weight: 300
  &::placeholder
    opacity: 1
    color: $grey
  &::-webkit-input-placeholder
    opacity: 1
    color: $grey
  &::-moz-placeholder
    opacity: 1
    color: $grey
  &:-ms-input-placeholder
    opacity: 1
    color: $grey
  &:-moz-placeholder
    opacity: 1
    color: $grey