mixin advantages
  section.advantages.container
    .advantages__wrapper.wrapper
      .advantages__map
      +heading('Преимущества работы с нами')
      .advantages__content
        .advantages__grid
          .advantages__row
            .advantages__cell
              .advantages__icon
                include assets/1.svg
              p.advantages__heading Штат специалистов
              p.advantages__text Все наши сотрудники проходят регулярную переаттестацию и&nbsp;сдачу экзаменов
            .advantages__cell
              .advantages__icon
                include assets/2.svg
              p.advantages__heading Обученные сотрудники
              p.advantages__text Перед работой с клиентом, каждый сотрудник проходит <br>4-х этапную систему обучения
          .advantages__row
            .advantages__cell
              .advantages__icon
                include assets/3.svg
              p.advantages__heading Проверяем качество
              p.advantages__text Мы выезжаем на каждый выполненный монтаж и&nbsp;проверяем качество и&nbsp;соответствие выполненных работ стандартам компании — так делаем только мы
            .advantages__cell
              .advantages__icon
                include assets/4.svg
              p.advantages__heading Ваше мнение — важно
              p.advantages__text По окончании всех работ мы&nbsp;спрашиваем Ваше мнение о&nbsp;том, как все прошло, и&nbsp;читываем эти данные в каждом следующем монтаже
          .advantages__row
            .advantages__cell
              .advantages__icon
                include assets/5.svg
              p.advantages__heading Следуем стандартам
              p.advantages__text Для каждого узла и&nbsp;технического решения, для всех этапов монтажных работ есть стандарты качества
            .advantages__cell
              .advantages__icon
                include assets/6.svg
              p.advantages__heading Становимся лучше
              p.advantages__text Мы выстроили систему, которая «самообучается», и наша компания становится лучше с&nbsp;каждым днем
        .advantages__digits
          .advantages__digits-top
            p.advantages__digits-num >5000
            p.advantages__digits-desc реализованных успешных проектов
          .advantages__digits-bottom
            p.advantages__digits-num 10 лет
            p.advantages__digits-desc гарантии на каждую установленную автономную канализацию