mixin footer
  footer.footer
    .container
      .wrapper
        .footer__top
          .footer__col
            p.footer__heading Услуги
            .footer__list
              a.footer__link(href="service.html") Откачка
              a.footer__link(href="service.html") Обслуживание
              a.footer__link(href="service.html") Установка
              a.footer__link(href="service.html") Ремонт
            .footer__list
              a.footer__link(href="#") Автономная канализация
              a.footer__link(href="#") Локальные очистные сооружения
              a.footer__link(href="#") Станции биологической очистки
              a.footer__link(href="#") Запчасти и оборудование
              a.footer__link(href="#") Бактерии для септиков
            .footer__socials
              a.footer__socials-item(href="//vk.com")
                img(src="img/icons/socials/vk.svg", alt="vk")
              a.footer__socials-item(href="//facebook.com")
                img(src="img/icons/socials/facebook.svg", alt="facebook")
              a.footer__socials-item(href="//instagram.com")
                img(src="img/icons/socials/instagram.svg", alt="facebook")
          .footer__col
            p.footer__heading Производитель
            .footer__list
              a.footer__link(href="catalog-inner.html") Топас
              a.footer__link(href="catalog-inner.html") Коло Веси
              a.footer__link(href="catalog-inner.html") Юнилос Астра
              a.footer__link(href="catalog-inner.html") Росток
              a.footer__link(href="catalog-inner.html") Танк
              a.footer__link(href="catalog-inner.html") Термит
              a.footer__link(href="catalog-inner.html") Атлант
              a.footer__link(href="catalog-inner.html") Волгарь
              a.footer__link(href="catalog-inner.html") BioDeka
              a.footer__link(href="catalog-inner.html") Кристалл
              a.footer__link(href="manufacturers.html") Все производители
          .footer__col
            p.footer__heading Назначение
            .footer__list
              a.footer__link(href="catalog-inner.html") Для дачи
              a.footer__link(href="catalog-inner.html") Для частного дома
              a.footer__link(href="catalog-inner.html") Для бани
              a.footer__link(href="catalog-inner.html") Для туалета
              a.footer__link(href="catalog-inner.html") Для выгребных ям
            p.footer__heading Материал
            .footer__list
              a.footer__link(href="catalog-inner.html") Пластиковые
              a.footer__link(href="catalog-inner.html") Стеклопластиковые
              a.footer__link(href="catalog-inner.html") Металлические
          .footer__col
            p.footer__heading Пользователи
            .footer__list
              a.footer__link(href="catalog-inner.html") На 2 человека
              a.footer__link(href="catalog-inner.html") На 3 человека
              a.footer__link(href="catalog-inner.html") На 4 человека
              a.footer__link(href="catalog-inner.html") На 5 человек
              a.footer__link(href="catalog-inner.html") На 6 человек
              a.footer__link(href="catalog-inner.html") На 8 человек
            p.footer__heading Объем
            .footer__list
              a.footer__link(href="catalog-inner.html") 1 куб
              a.footer__link(href="catalog-inner.html") 1,5 куба
              a.footer__link(href="catalog-inner.html") 2 куба
              a.footer__link(href="catalog-inner.html") 3 куба
              a.footer__link(href="catalog-inner.html") 4 куба
              a.footer__link(href="catalog-inner.html") 5 кубов
          .footer__col
            p.footer__heading Особенности
            .footer__list
              a.footer__link(href="catalog-inner.html") Без откачки
              a.footer__link(href="catalog-inner.html") Без электричества
              a.footer__link(href="catalog-inner.html") Бюджетные
              a.footer__link(href="catalog-inner.html") Вертикальные
              a.footer__link(href="catalog-inner.html") Горизонтальные
              a.footer__link(href="catalog-inner.html") Для непостоянного проживания
              a.footer__link(href="catalog-inner.html") Для постоянного проживания
              a.footer__link(href="catalog-inner.html") Маленькие
              a.footer__link(href="catalog-inner.html") Накопительные
            p.footer__heading Количество камер
            .footer__list
              a.footer__link(href="catalog-inner.html") Однокамерные
              a.footer__link(href="catalog-inner.html") Двухкамерные
              a.footer__link(href="catalog-inner.html") Трехкамерные
    .footer-middle.container
      .wrapper
        .footer__middle
          img.footer__logo(src="img/logo.svg", alt="Семейный круг")
          nav.footer__nav
            a.footer__nav-link(href="#") Септики под ключ
            a.footer__nav-link(href="sales.html") Акции
            a.footer__nav-link(href="#") Доставка и оплата
            a.footer__nav-link(href="#") О компании
            a.footer__nav-link(href="#") Контакты
          p.footer__tel +7 499 456-78-89
    .container
      .wrapper
        .footer__bottom
          p.footer__copyright &copy;2020, &laquo;Семейный круг&raquo;
          a.footer__policy(href="#") Политика конфиденциальности
          p.footer__design Дизайн – студия &laquo;Арбуз&raquo;