mixin footer
  footer.footer
    .container
      .wrapper
        .footer__top
          .footer__col
            p.footer__heading Услуги
            .footer__list
              a.footer__link(href="#") Откачка
              a.footer__link(href="#") Обслуживание
              a.footer__link(href="#") Установка
              a.footer__link(href="#") Ремонт
            .footer__list
              a.footer__link(href="#") Автономная канализация
              a.footer__link(href="#") Локальные очистные сооружения
              a.footer__link(href="#") Станции биологической очистки
              a.footer__link(href="#") Запчасти и оборудование
              a.footer__link(href="#") Бактерии для септиков
            .footer__socials
              a.footer__socials-item(href="//vk.com")
                img(src="img/icons/socials/vk.svg", alt="vk")
              a.footer__socials-item(href="//facebook.com")
                img(src="img/icons/socials/facebook.svg", alt="facebook")
              a.footer__socials-item(href="//instagram.com")
                img(src="img/icons/socials/instagram.svg", alt="facebook")
          .footer__col
            p.footer__heading Производитель
            .footer__list
              a.footer__link(href="#") Топас
              a.footer__link(href="#") Коло Веси
              a.footer__link(href="#") Юнилос Астра
              a.footer__link(href="#") Росток
              a.footer__link(href="#") Танк
              a.footer__link(href="#") Термит
              a.footer__link(href="#") Атлант
              a.footer__link(href="#") Волгарь
              a.footer__link(href="#") BioDeka
              a.footer__link(href="#") Кристалл
              a.footer__link(href="#") Все производители
          .footer__col
            p.footer__heading Назначение
            .footer__list
              a.footer__link(href="#") Для дачи
              a.footer__link(href="#") Для частного дома
              a.footer__link(href="#") Для бани
              a.footer__link(href="#") Для туалета
              a.footer__link(href="#") Для выгребных ям
            p.footer__heading Материал
            .footer__list
              a.footer__link(href="#") Пластиковые
              a.footer__link(href="#") Стеклопластиковые
              a.footer__link(href="#") Металлические
          .footer__col
            p.footer__heading Пользователи
            .footer__list
              a.footer__link(href="#") На 2 человека
              a.footer__link(href="#") На 3 человека
              a.footer__link(href="#") На 4 человека
              a.footer__link(href="#") На 5 человек
              a.footer__link(href="#") На 6 человек
              a.footer__link(href="#") На 8 человек
            p.footer__heading Объем
            .footer__list
              a.footer__link(href="#") 1 куб
              a.footer__link(href="#") 1,5 куба
              a.footer__link(href="#") 2 куба
              a.footer__link(href="#") 3 куба
              a.footer__link(href="#") 4 куба
              a.footer__link(href="#") 5 кубов
          .footer__col
            p.footer__heading Особенности
            .footer__list
              a.footer__link(href="#") Без откачки
              a.footer__link(href="#") Без электричества
              a.footer__link(href="#") Бюджетные
              a.footer__link(href="#") Вертикальные
              a.footer__link(href="#") Горизонтальные
              a.footer__link(href="#") Для непостоянного проживания
              a.footer__link(href="#") Для постоянного проживания
              a.footer__link(href="#") Маленькие
              a.footer__link(href="#") Накопительные
            p.footer__heading Количество камер
            .footer__list
              a.footer__link(href="#") Однокамерные
              a.footer__link(href="#") Двухкамерные
              a.footer__link(href="#") Трехкамерные
    .footer-middle.container
      .wrapper
        .footer__middle
          img.footer__logo(src="img/logo.svg", alt="Семейный круг")
          nav.footer__nav
            a.footer__nav-link(href="#") Септики под ключ
            a.footer__nav-link(href="#") Акции
            a.footer__nav-link(href="#") Доставка и оплата
            a.footer__nav-link(href="#") О компании
            a.footer__nav-link(href="#") Контакты
          p.footer__tel +7 499 456-78-89
    .container
      .wrapper
        .footer__bottom
          p.footer__copyright &copy;2020, &laquo;Семейный круг&raquo;
          a.footer__policy(href="#") Политика конфиденциальности
          p.footer__design Дизайн – студия &laquo;Арбуз&raquo;