mixin manufacturers
  section.manufacturers.container
    .manufacturers__wrapper.wrapper
      img.manufacturers__item(src="img/inhtml/manufacturers/1.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/2.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/3.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/4.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/5.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/6.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/7.png", alt="")
      img.manufacturers__item(src="img/inhtml/manufacturers/8.png", alt="")