.button
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  max-width: 270px
  width: 100%
  height: 50px
  border-radius: 50px
  border: none
  text-decoration: none
  cursor: pointer
  outline: 0
  font-size: 15px
  &--primary
    background-color: $orange
    transition: background-color .3s ease
    color: #fff
    &:hover
      background-color: darken($orange, 5)
    &:active
      transition: none
      background-color: darken($orange, 7)
  &--secondary
    border: 2px solid $blue
    transition: all .3s ease
    color: $blue
    &:hover
      background-color: $blue
      color: #fff
    &:active
      transition: none
      background-color: darken($blue, 5)
  &--minor
    border: 2px solid #fff
    transition: all .3s ease
    color: #fff
    &:hover
      background-color: #fff
      color: $blue
    &:active
      transition: none
      border-color: darken(#fff, 5)
      background-color: darken(#fff, 5)
  &--misc
    background-color: #fff
    transition: background-color .3s ease
    color: $blue
    &:hover
      background-color: darken(#fff, 5)
    &:active
      transition: none
      background-color: darken(#fff, 7)
  &--cart
    background-color: $light-blue-2
    transition: background-color .3s ease
    color: $grey
    &[data-added="false"]
      display: none
    &:hover
      background-color: darken($light-blue-2, 5)
    &:active
      transition: none
      background-color: darken($light-blue-2, 7)