mixin pagination
  .pagination
    a.pagination__arrow.pagination__arrow--prev.pagination__arrow--disabled(href="#")
    a.pagination__page.pagination__page--current(href="#") 1
    a.pagination__page(href="#") 2
    a.pagination__page(href="#") 3
    a.pagination__arrow.pagination__arrow--next(href="#")