.catalog-inner
  &__wrapper
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: stretch
  &__main
    width: 870px
    padding-bottom: 70px
  &__aside
    position: relative
    width: 270px
    padding-top: 65px
  &__grid
    @include cards-grid
    .item-card
      margin: 0 15px 30px
  &__list
    margin-bottom: 30px
    .item-unit
      margin-bottom: 10px