doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Семейный круг | Разводящая
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      .container
        .wrapper
          ol
            li
              a(href="main.html") Главная
            li
              a(href="catalog.html") Каталог
            li
              a(href="catalog-inner.html") Каталог - внутренняя (таблица)
            li
              a(href="catalog-inner-list.html") Каталог - внутренняя (список)
            li
              a(href="item.html") Карточка товара
            li
              a(href="manufacturers.html") Производители
            li
              a(href="services.html") Услуги