doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Семейный круг | Разводящая
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      .container
        .wrapper
          ol
            li
              a(href="main.html") Главная
            li
              a(href="catalog.html") Каталог
            li
              a(href="catalog-inner.html") Каталог - внутренняя (таблица)
            li
              a(href="catalog-inner-list.html") Каталог - внутренняя (список)
            li
              a(href="item.html") Карточка товара
            li
              a(href="manufacturers.html") Производители
            li
              a(href="services.html") Услуги
            li
              a(href="service.html") Услуга
            li
              a(href="sales.html") Акции
            li
              a(href="sale-1.html") Акция №1
            li
              a(href="sale-2.html") Акция №2
            li
              a(href="delivery.html") Доставка и оплата
            li
              a(href="delivery.html") Корзина
            li
              a(href="search-result.html") Результаты поиска
            li
              a(href="contacts.html") Контакты