doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Семейный круг | Разводящая
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      .container
        .wrapper
          ol
            li
              a(href="main.html") Главная