include ../components/header/header
include ../components/calc/calc
include ../components/banner/banner
include ../components/manufacturers/manufacturers
include ../components/hits/hits
include ../components/advantages/advantages
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Семейный круг | Главная
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +calc
      +banner
      +manufacturers
      +hits
      +advantages
      +footer