include ../components/header/header
include ../components/calc/calc
include ../components/_ui/breadcrumbs/breadcrumbs
include ../components/_ui/heading/heading
include ../components/sale-item/sale-item
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Семейный круг | Акция №1
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +calc
      section.container
        .wrapper
          +breadcrumbs([{title: 'Семейный круг', link: 'main.html'}, {title: 'Акции', link: 'sales.html'}, {title: 'Септик за 1 день. Под ключ с бесплатной доставкой', link: 'sales-1.html'}])
          +heading('Септик за 1 день. Под ключ с бесплатной доставкой')
          +sale-item('#005C9E', 'img/inhtml/sales/1.png', '#1470B2', 'Акция действует до 31 марта 2020 года.', 'При заказе любого оборудования с установкой под ключ, на сумму 70 000 рублей, доставка всех комплектующих в подарок!', {text: 'Отправить заявку'})
      +footer