include ../components/header/header
include ../components/calc/calc
include ../components/service/service
include ../components/_ui/category-card/category-card
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Семейный круг | Услуга
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +calc
      +service
      section.suggestion.container
        .wrapper
          +heading('Также вам может понадобиться')
          .suggestion__grid
            +category-card('img/inhtml/services/1.png', 'Откачка септиков', 'service.html')
            +category-card('img/inhtml/services/2.png', 'Сервисное обслуживание', 'service.html')
            +category-card('img/inhtml/services/4.png', 'Ремонт септиков', 'service.html')
      section.description.container
        .description__wrapper.wrapper
          .description__col
            p.description__text Септик – это автономная канализация, которая состоит из надежных пластиковых труб, не&nbsp;подверженных коррозии и уникальной очистной системы - главного элемента очистной системы Топас.<br><br>Именно он даст вам возможность провести в дом канализацию, которая сможет выдерживать ту&nbsp;же нагрузку, что и канализация в городской квартире, и даже больше. Система абсолютно экологична, с степенью очистки 98%. Очистка происходит биологичным способом, благодаря бактериям, которые питаются грязью.<br><br>В результате остается только полезный, насыщенный минералами ил, подходящий, как&nbsp;удобрения, для приусадебного участка. Теперь вам не надо будет строить около дома выгребную яму, которая будет вам создавать дискомфорт и проблемы по ее очистке.
          .description__col
            p.description__text Как видим, у системы автономной канализации для вашего загородного дома есть множество достоинств. Вы сможете сэкономить деньги и время, быть уверенным в надежности и&nbsp;безопасности вашей канализации. Она не будет мешать вам посторонними запахами или&nbsp;звуками, а просто тихо выполнять свою работу.<br><br>Также нужно помнить, что большинство участков продаются без коммуникаций и у вас есть возможность решить эту проблему по-своему – дешево и надежно.
      +footer