include ../_ui/heading/heading
include ../_ui/item-card/item-card

mixin hits
  section.hits.container
    .wrapper
      +heading('Хиты продаж')
      .hits__slider
        .hits__slider-inner.js-hits-slider
          .hits__slide
            +item-card('img/inhtml/items/1.png', 'hit', 'Септик', '1 000 л', 'Росток Мини', 4, 14, '26 800', 'item-1')
          .hits__slide
            +item-card('img/inhtml/items/2.png', 'hit', 'Септик', '1 000 л', 'Коло Веси 5', 4, 14, '157 900', 'item-2')
          .hits__slide
            +item-card('img/inhtml/items/3.png', 'hit', 'Септик', '1 000 л', 'Юнилос Астра 3', 4, 14, '65 450', 'item-3')
          .hits__slide
            +item-card('img/inhtml/items/4.png', 'hit', 'Септик', '1 000 л', 'Топас-С 4', 4, 14, '75 960', 'item-4')
          .hits__slide
            +item-card('img/inhtml/items/1.png', 'hit', 'Септик', '1 000 л', 'Росток Мини', 4, 14, '26 800', 'item-1')
          .hits__slide
            +item-card('img/inhtml/items/2.png', 'hit', 'Септик', '1 000 л', 'Коло Веси 5', 4, 14, '157 900', 'item-2')