mixin producers
  section.producers.container
    .producers__wrapper.wrapper
      img.producers__item(src="img/inhtml/producers/1.png", alt="")
      img.producers__item(src="img/inhtml/producers/2.png", alt="")
      img.producers__item(src="img/inhtml/producers/3.png", alt="")
      img.producers__item(src="img/inhtml/producers/4.png", alt="")
      img.producers__item(src="img/inhtml/producers/5.png", alt="")
      img.producers__item(src="img/inhtml/producers/6.png", alt="")
      img.producers__item(src="img/inhtml/producers/7.png", alt="")
      img.producers__item(src="img/inhtml/producers/8.png", alt="")