mixin header
  header.header
    .header-top.container
      .wrapper
        .header__top
          .header__nav
            a.header__nav-link(href="#") Услуги
            a.header__nav-link(href="#") Септики под ключ
            a.header__nav-link(href="#") Акции
            a.header__nav-link(href="#") Производители
            a.header__nav-link(href="#") Доставка и оплата
            a.header__nav-link(href="#") О компании
            a.header__nav-link(href="#") Контакты
          p.header__location Краснодарский край
    .container
      .wrapper