include ../_ui/button/button

mixin header
  header.header
    .header-top.container
      .wrapper
        .header__top
          nav.header__nav
            .header__nav-dropdown.js-dropdown-container(data-dropdown="header-services")
              a.header__nav-link.js-dropdown-button(href="#") Услуги
              .header__nav-dropdown-menu.js-dropdown-menu
                a.header__nav-dropdown-item(href="service.html") Откачка септиков
                a.header__nav-dropdown-item(href="service.html") Сервисное обслуживание
                a.header__nav-dropdown-item(href="service.html") Установка септиков
                a.header__nav-dropdown-item(href="service.html") Ремонт септиков
            a.header__nav-link(href="catalog-inner.html") Септики под ключ
            a.header__nav-link(href="sales.html") Акции
            a.header__nav-link(href="manufacturers.html") Производители
            a.header__nav-link(href="delivery.html") Доставка и оплата
            a.header__nav-link(href="#") О компании
            a.header__nav-link(href="#") Контакты
          p.header__location Краснодарский край
    .container
      .wrapper
        .header__bottom
          a(href="main.html")
            img.header__logo(src="img/logo.svg", alt="Семейный круг")
          p.header__desc Установка и обслуживание систем канализации
          .header__catalog.js-dropdown-container(data-dropdown="header-catalog")
            +button-primary('link', 'Каталог', 'header__btn js-dropdown-button', {link: '#'})
            .header__catalog-dropdown.js-dropdown-menu
              a.header__catalog-dropdown-item(href="catalog-inner.html") Септики
              a.header__catalog-dropdown-item(href="catalog-inner.html") Автономная канализация
              a.header__catalog-dropdown-item(href="catalog-inner.html") Локальные очистные сооружения
              a.header__catalog-dropdown-item(href="catalog-inner.html") Станции биологической очистки
              a.header__catalog-dropdown-item(href="catalog-inner.html") Запчасти и оборудование
              a.header__catalog-dropdown-item(href="catalog-inner.html") Бактерии для септиков
          form.header__search
            .header__search-label
              input.header__search-input.js-header-search(type="text", name="q", placeholder="Поиск по септикам", autocomplete="off")
              .header__search-hint.js-header-search-hint
                p.header__search-hint-heading Пример поиска
                a.header__search-hint-item(href="#") Септик Росток мини
                a.header__search-hint-item(href="#") Септик большой
                a.header__search-hint-item(href="#") Обслуживание
                a.header__search-hint-item(href="#") Станции биологической отчистки
                a.header__search-hint-item(href="#") Бактерии
          a.header__cart(href="cart.html")
            p.header__cart-count 2
          .header__info
            p.header__info-tel +7 499 456-78-89
            p.header__info-workhour Ежедневно с 9:00 до 18:00